---

---

@charset "utf-8";


// define variable with front matter
// Obtener el lenguaje del sitio
{% assign lang = site.lang | default: site.default_lang | default: 'en' %}
// Usar esta estructura para acceder a los datos
{% if site.data[lang].data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
