---
layout: default
lang: es
---

{% assign lang = page.lang | default: site.default_lang %}

{% include career-profile.html lang=lang %}

{% unless site.data[lang].data.sidebar.education %}
  {% include education.html lang=lang %}
{% endunless %}

{% include experiences.html lang=lang %}

{% include certifications.html lang=lang %}

{% include projects.html lang=lang %}

{% include oss-contributions.html lang=lang %}

{% include publications.html lang=lang %}

{% include skills.html lang=lang %}
